.header {
  font-family: 'Skyhook Mono', monaco, Consolas, 'Courier New', Courier, monospace;
  left: 0;
  padding: 40px 0 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: padding 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 100;
}

.headerAboveBg {
  height: 60vh;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: -1;
}

.headerBelowBg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: -2;
}

.scrolled {
  padding: 10px 0;
}

.scrolled > .headerAboveBg {
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.whiteBg > .headerBelowBg {
  /* background-color: var(--pure-white); */
}

.scrolled .logo {
  transform: scale(0.75);
}

.logo {
  background-color: var(--dark-color);
  color: var(--white-color);
  display: inline-block;
  font-size: 34px;
  font-weight: 800;
  height: 60px;
  line-height: 60px;
  position: relative;
  text-align: center;
  transform-origin: 0;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 60px;
}

.whiteBg .project {
  opacity: 1;
}

.project {
  opacity: 0;
  padding-left: 20px;
  position: relative;
  top: -2px;
}

.project_text {
  font-size: 28px;
  font-weight: 600;
  padding-left: 10px;
}

.prompt {
  display: inline-block;
  font-size: 32px;
}

.cursor {
  animation: blink 0.65s infinite;
  display: inline-block;
  font-size: 32px;
}

@keyframes blink {
  0% { opacity: 1 }
  30% { opacity: 1 }
  31% { opacity: 0 }
  69% { opacity: 0 }
  70% { opacity: 1 }
  100% { opacity: 1 }
}

.nav {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav > img {
  display: block;
}

.nav > img.up {
  transform: translateY(1px);
}

.nav > img.down {
  transform: translateY(-1px);
}
