.header {
  background-color: var(--white-color);
  font-family: 'Skyhook Mono', monaco, Consolas, 'Courier New', Courier, monospace;
  left: 0;
  padding: 40px 0 20px;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  z-index: 100;
}

.scrolled {
  background-color: var(--pure-white);
  padding: 10px 0;
}

.scrolledTwo {
  background-color: rgba(255, 255, 255, 0);
}

.scrolled .logo {
  transform: scale(0.75);
}

.logo {
  background-color: var(--dark-color);
  color: var(--white-color);
  display: inline-block;
  font-size: 34px;
  font-weight: 800;
  height: 60px;
  line-height: 60px;
  pointer-events: all;
  position: relative;
  text-align: center;
  transform-origin: 0;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  width: 60px;
}

.project {
  opacity: 0;
  padding-left: 20px;
  position: relative;
  top: -2px;
}

.project_text {
  font-size: 28px;
  font-weight: 600;
  padding-left: 10px;
}

.prompt {
  display: inline-block;
  font-size: 32px;
}

.cursor {
  animation: blink 0.65s infinite;
  display: inline-block;
  font-size: 32px;
}

@keyframes blink {
  0% { opacity: 1 }
  30% { opacity: 1 }
  31% { opacity: 0 }
  69% { opacity: 0 }
  70% { opacity: 1 }
  100% { opacity: 1 }
}

.nav {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav > img {
  display: block;
}

.nav > img.up {
  transform: translateY(1px);
}

.nav > img.down {
  transform: translateY(-1px);
}

@media only screen and (max-width: 416px) {
  .header {
    padding: 20px;
  }

  .header > div {
    width: 100%;
  }

  .scrolled {
    padding: 15px;
  }

  .logo {
    font-size: 28px;
    height: 46px;
    line-height: 46px;
    transform-origin: 0 0;
    width: 46px;
  }
}
