.project_detail_wrapper {
  padding-top: 140px;
  position: relative;
  width: 100%;
}

.project_detail_bg {
  height: 450px;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.project_detail_logo {
  left: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.project_detail_body {
  padding: 50px 0;
  width: 100%;
}

.project_detail_h2,
.project_detail_img,
.project_detail_p,
.project_detail_sub_p {
  display: block;
  line-height: 2em;
  margin: auto;
  padding: 70px 0;
  white-space: pre-wrap;
  width: 60%;
}

.project_detail_img {
  cursor: zoom-in;
  object-fit: cover;
}

.project_detail_p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
}

.project_detail_sub_p {
  font-size: 14px;
  opacity: 0.6;
}

.project_detail_sub_p_intro {
  padding: 30px 0 0;
}

.project_detail_img.imgCaption {
  padding-bottom: 0;
}

.project_detail_img.vertical {
  width: 20%;
}

.project_detail_caption {
  opacity: 0.5;
  padding: 40px 0 50px;
  text-align: center;
}

.amazon_detail_img {
  height: 30%;
}

@media only screen and (max-width: 416px) {
  .project_detail_bg {
    height: 80vw;
  }

  .project_detail_h2,
  .project_detail_img,
  .project_detail_p,
  .project_detail_sub_p {
    padding: 50px 0;
    width: 90%;
  }

  .project_detail_sub_p_intro {
    padding: 30px 0 0;
  }

  .project_detail_caption {
    padding: 20px 0 40px;
  }

  .project_detail_img.vertical {
    width: 80%;
  }
}
