.container {
  height: 100%;
  margin: auto;
  position: relative;
  width: 90%;
}

.hover {
  transition: opacity 0.1s cubic-bezier(0.5, 0, 0.5, 1);
}

.hover:hover {
  opacity: 0.5;
}

.contact_me {
  display: block;
  font-family: 'Geist Mono', 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 2em;
  margin: auto;
  padding: 50px 0 100px;
  position: relative;
  text-align: center;
  white-space: pre-wrap;
  width: 90%;
}

.contact_me > span > a {
  cursor: pointer;
  font-weight: 500;
}

.contact_me > span > span {
  margin: 0 5px;
}

@media only screen and (max-width: 416px) {
  .contact_me {
    font-size: 16px;
  }

  .contact_me > span > span {
    margin: 0 -1px;
  }
}
