.container {
  height: 100%;
  margin: auto;
  position: relative;
  width: 90%;
}

.hover {
  transition: opacity 0.1s cubic-bezier(0.5, 0, 0.5, 1);
}

.hover:hover {
  opacity: 0.5;
}

.affirm_img {
  height: 25%;
}

.affirm_bg_img {
  width: 100%;
  height: 100%;
}

.amazon_img {
  height: 25%;
}

.amazon_bg_img {
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.golinks_img {
  height: 18%;
}

.foodgo_img {
  height: 20%;
}
