.no_transition {
  transition: none !important;
}

.landing_page {
  background-color: var(--white-color);
  height: 100vh;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.main_container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main_container > span {
  margin-bottom: 5px;
}

.main_container > span > img {
  height: 64px;
}

.main_container h1 {
  font-size: 64px;
}

.hidden {
  opacity: 0;
}

.main_wrapper {
  position: relative;
  display: inline-block;
  height: 85px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.7, 0, 1, 0.3);
  vertical-align: middle;
  white-space: nowrap;
  width: 0px;
}

.main_text > h1 {
  display: inline-block;
  font-family: 'Skyhook Mono', monaco, Consolas, 'Courier New', Courier, monospace;
  margin: 0;
  transition: color 0.04s ease-in-out;
}

.main_text > h1.slow_color {
  transition: color 0.3s ease-in-out !important;
}

.main_text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main_right {
  transform: scaleX(-1);
}

.scroll_down {
  bottom: 40px;
  font-size: 40px;
  font-weight: 800;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  transform: translateX(-50%) translateY(0px);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll_down > img {
  height: 48px;
  width: 48px;
}

.blink {
  animation: blink 1s cubic-bezier(1, 0, 1, 0);
}

@keyframes blink {
  20% { opacity: 0 }
  21% { opacity: 1 }
  40% { opacity: 1 }
  41% { opacity: 0 }
  50% { opacity: 0 }
  51% { opacity: 1 }
  55% { opacity: 1 }
  56% { opacity: 0 }
  60% { opacity: 0 }
  61% { opacity: 1 }
  65% { opacity: 1 }
  66% { opacity: 0 }
  70% { opacity: 0 }
  71% { opacity: 1 }
  100% { opacity: 1 }
}

.filler {
  height: 80px;
}

.project_wrapper {
  background-color: var(--pure-white);
  padding-bottom: 160px;
}

.about_container,
.filter_container {
  text-align: center;
}

.about_container,
.filter_container,
.project_container {
  width: 900px;
}

.project_row_img_container {
  height: 607.5px;
}

.about_me {
  background-color: var(--pure-white);
  font-family: 'IBM Plex Mono', 'Menlo', monaco, 'Courier New', Courier, monospace;
  height: 420px;
  width: 100%;
}

.about_me_container {
  position: relative;
}

.about_container {
  align-items: flex-end;
  display: flex;
}

.about_h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 30px;
}

.about_h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  margin: 0 auto 50px;
  width: 100%;
}

.about_h2_my_name {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -2px;
}

.filter_container {
  font-family: 'IBM Plex Mono', 'Menlo', monaco, 'Courier New', Courier, monospace;
  font-size: 18px;
  margin-bottom: 120px;
}

.filter_span {
  cursor: pointer;
  opacity: 0.5;
}

.filter_span:hover {
  opacity: 1;
}

.filter_span.bold {
  font-weight: 800;
  opacity: 1 !important;
}

.project_container {
  margin: auto;
  position: relative;
}

.project_row_wrapper {
  margin-bottom: 150px;
  position: relative;
  z-index: 1;
}

.project_row_wrapper:first-child {
  margin-top: 0;
}

.project_row_wrapper:last-child {
  margin-bottom: 0;
}

.project_row_img_container {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.project_row_img_container > * {
  pointer-events: none;
}

.project_row_img_container::before {
  content: '';
  left: 0;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.project_row_img_box_shadow {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.project_row_img_bg_container {
  height: calc(100% + 2px);
  left: -1px;
  position: relative;
  overflow: hidden;
  top: -1px;
  width: calc(100% + 2px);
}

.project_row_text_wrapper {
  width: 100%;
}

.project_row_text_wrapper.right {
  margin-left: auto;
  margin-right: 0;
}

.project_row_h1 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}

.project_row_p {
  font-size: 14px;
  opacity: 0.5;
}

.project_row_learn_more::before {
  content: '';
}

.project_row_img {
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.project_row_bg_img,
.project_row_img {
  pointer-events: none;
}

.project_row_img.right {
  left: 10%;
  right: unset;
}

.affirm_a {
  color: #0fa0ea;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.amazon_a {
  color: #FF9900;
  font-family: 'Amazon Ember', sans-serif;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.golinks_a {
  color: #00beac;
  font-family: 'Oxygen', sans-serif;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.work-amazon .project_row_img_container::before,
.work-amazon .project_row_img_bg_container {
  background: var(--work-amazon-bg);
}

.work-affirm .project_row_img_container::before,
.work-affirm .project_row_img_bg_container {
  background: var(--work-affirm-bg);
}

.work-golinks .project_row_img_container::before,
.work-golinks .project_row_img_bg_container {
  background: var(--work-golinks-bg);
}

.project-foodgo .project_row_img_container::before,
.project-foodgo .project_row_img_bg_container {
  background: var(--project-foodgo-bg);
}

.contact_me {
  height: 200px;
  padding: 50px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.contact_me_p {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  opacity: 1;
}

.contact_me_p:hover {
  opacity: 0.5;
}

.contact_me_span {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  margin: 0 15px;
  opacity: 0.3;
}

.affirm_img {
  height: 25%;
}

.affirm_bg_img {
  width: 100%;
  height: 100%;
}

.amazon_img {
  height: 25%;
}

.amazon_bg_img {
  bottom: 2px;
  left: 3px;
  opacity: 0.6;
  position: absolute;
  width: calc(100% - 6px);
}

.golinks_img {
  height: 18%;
}

.foodgo_img {
  height: 20%;
}

@media only screen and (max-width: 1200px) {
  .about_container,
  .filter_container,
  .project_container {
    width: 70%;
  }

  .project_row_img_container {
    height: 47.25vw;
  }
}

@media only screen and (max-width: 416px) {
  .project_wrapper {
    padding-bottom: 0;
  }

  .about_me {
    height: 500px;
  }

  .project_container {
    display: inherit;
    width: 100%;
  }

  .project_row_wrapper {
    margin: 0;
  }

  .project_row_wrapper.work-affirm > .project_row_container {
    color: var(--dark-color);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

  .project_row_wrapper.work-amazon > .project_row_container {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.15);
  }

  .project_row_wrapper.project-foodgo .project_row_p {
    opacity: 0.9;
  }

  .project_row_container {
    display: none;
  }

  .project_row_img_container {
    height: 87.5vw;
    margin-bottom: 0;
    width: 100%;
  }

  .project_row_img_box_shadow {
    opacity: 0;
  }

  .contact_me {
    height: 170px;
  }
}
